.navbar-nav > li:hover{
  background-color: lightgrey;
}
.nav-right{
  display: block;
  padding-right: 30px;
  float: right;
}

.dropdown-menu > li{
  display: block;
  width: 30px;
}

.dummy {
  margin-top: 100%;
}
.thumbnail {
  position: relative;
  top: 15px;
  bottom: 0;
  left: 25px;
  right: 0;
  text-align:center;
  -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s, height 1s;
}

.thumbnail:hover{
  border: 3px solid #080606;
  -webkit-transform: scale(1.1);
}

.hide-text{
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  background: #99ff33;
  opacity: 0.7;
  transition:all 0.5s ease 0s;
  vertical-align: middle;
  text-align: center;
}

.button-add-to-cart{
  font-weight: 900;
  font-size: 25px;
  opacity: 0.9;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 200px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  color: white;
  border: 3px solid white;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.button-add-to-cart:hover{
  background-color: #E21223;
  border: 3px solid #917C7C;
}

.button-add-to-cart > span{
  font-weight: bold;
  font-size: 40px;
  line-height: 15px;
  padding-left: -15px;
}
